<!DOCTYPE html>
<!--
Template Name: Deconta - Sanitization & Cleaning Services
Version: 1.0.0
Author: Webstrot
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8" />
  <title>Protect Viros</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="Protect Viros" />
  <meta name="keywords" content="Protect Viros - Sanitization & Cleaning Services/ controller/pestguard" />
  <meta name="author" content="" />
  <meta name="MobileOptimized" content="320" />
  <!--start theme style -->
  <link rel="stylesheet" type="text/css" href="css/animate.css" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
  <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
  <link rel="stylesheet" type="text/css" href="venobox/css/venobox.css" />
  <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
  <link rel="stylesheet" type="text/css" href="css/flaticon.css" />
  <link rel="stylesheet" type="text/css" href="css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="js/plugin/rs_slider/layers.css" />
  <link rel="stylesheet" type="text/css" href="js/plugin/rs_slider/navigation.css" />
  <link rel="stylesheet" type="text/css" href="js/plugin/rs_slider/settings.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/responsive.css" />
  <link rel="stylesheet" id="theme-color" type="text/css" href="#" />
  <!-- favicon link-->
  <link rel="shortcut icon" type="image/icon" href="images/logo_dark.png" />
  <script src='http://webstrot.com/google_analytics_auto.js'></script>
</head>

<body>
  <!-- preloader Start -->
  <div id="preloader">
    <div id="status">
      <img src="images/pest_control.gif" id="preloader_image" alt="loader" />
    </div>
  </div>

  @!section('content')


  <!-- botm newslatter section start-->
  <div class="btm_newslater_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-12 col-sm-12">
          <div class="btm_newsletter_text">
            <h3>Have Any Question ?</h3>
            <p>Share your email address here, we will get back to you ASAP 😊.</p>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12 col-sm-12">
          <form action="/send" method="POST">
            <div class="wrapper_email_button pst_toppadder10">
              <input type="email" name="email" required placeholder="your email here" />
              <button style="background-color: transparent;border:0"><i class="fa fa-paper-plane"
                  aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- botm newslatter section end-->
  <!-- footer section start-->
  <div class="footer_wrapper pst_toppadder70 pst_bottompadder60">
    <div class="container">
      <div class="footer_wrapper_first">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-12 col-sm-4">
            <div class="wrapper_first_icon foter_contact_nav">
              <ul>
                <li>
                  <i class="fa fa-phone"></i>
                  <a href="tel:+919014450904">
                    <p>
                      +91 9014450904
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-12 col-sm-4">
            <div class="wrapper_first_icon foter_contact_nav">
              <ul>
                <li>
                  <i class="fa fa-envelope"></i>
                  <a href="#">
                    <p>
                      info@protectviros.com <br>
                      service@protectviros.com
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-12 col-sm-4">
            <div class="wrapper_first_icon foter_contact_nav">
              <ul>
                <li>
                  <i class="fa fa-map-marker"></i>
                  <p>
                    3-3-501 & 508 B block<br />
                    Amrutha Arcade <br>
                    kachiguda station road <br>
                    kachiguda Hyderabad <br> 500027
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-12 col-sm-12">
            <div class="pst_btn_form footer_btn_wrapper">
              <ul>
                <li>
                  <a href="tel:+919014450904" class="tem-btn">
                    <div class="btn-front">contact us</div>
                    <div class="btn-back">contact us</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_wrapper_second">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-12 col-sm-12">
            <div class="wrapper_second_about">
              <div class="wrapper_first_image pst_bottompadder40">
                <a href="/"><img src="images/logo_dark.png" width="100px" height="55px" class="img-responsive"
                    alt="logo" /></a>
              </div>
              <div class="abotus_content">
                <p>PROTECT VIROS was founded on the principle of warm , friendly ,and efficient services. Our staff
                  knows how to get the job done and we often exceed the expectation of our clients. We offer a range of
                  services which we believe will fully meet your needs. No office is too big or small for our skilled &
                  experienced staff.</p>
              </div>
              <div class="aboutus_social_icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/Protectviros-125344905675838/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/protectviros?s=08"><i class="fa fa-twitter"></i></a>
                  </li>
                  <!-- <li>
                    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                  </li> -->
                  <li>
                    <a href="https://www.instagram.com/invites/contact/?i=4blc6jkn44w1&utm_content=i9j381c"><i
                        class="fa fa-instagram" aria-hidden="true"></i> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 col-sm-12">
            <div class="wrapper_second_useful">
              <h4>Useful Link</h4>
              <ul>
                <li>
                  <a href="/about"><i class="fa fa-circle"></i>About </a>
                </li>
                <li>
                  <a href="/services"><i class="fa fa-circle"></i> Services </a>
                </li>
                <li>
                  <a href="/contact"><i class="fa fa-circle"></i>Contact</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-12 col-sm-12">
            <div class="wrapper_second_useful wrapper_second_useful_2">
              <h4>services</h4>
              <ul>
                <li>
                  <a href="#"><i class="fa fa-circle"></i>Disinfection services</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-circle"></i> Domestic / commercial sanitization</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-circle"></i>Disinfection Tunnel</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-circle"></i>Vehicle sanitization</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-circle"></i>Safety Equipment</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section3_bottom_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-10 col-sm-10">
          <div class="section3_copyright">
            <p>Copyright 2020 - 21 <a href="/"> Protect Viros</a>. all right reserved.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-2 col-sm-2">
          <div class="close_wrapper">
            <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i>top</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fab-container">
    <div class="fab fab-icon-holder">
      <i class="fa fa-phone"></i>
    </div>
    <ul class="fab-options">
      <a href="tel:+919014450904" target="_blank">
        <li>
          <span class="fab-label">Call us</span>
          <div class="fab-icon-holder">
            <i class="fa fa-phone"></i>
          </div>
        </li>
      </a>
      <a href="sms:+919014450904" target="_blank">
        <li>
          <span class="fab-label">Text us</span>
          <div class="fab-icon-holder">
            <i class="fa fa-envelope"></i>
          </div>
        </li>
      </a>
      <a href="mailto:info@protectviros.com" target="_blank">
        <li>
          <span class="fab-label">Mail us</span>
          <div class="fab-icon-holder">
            <i class="fa fa-google"></i>
          </div>
        </li>
      </a>
      <a href="https://wa.me/919014450904" target="_blank">
        <li>
          <span class="fab-label">Whatsapp us</span>
          <div class="fab-icon-holder">
            <i class="fa fa-whatsapp"></i>
          </div>
        </li>
      </a>
    </ul>
  </div>

  <!--footer wrapper start-->
  <!--main js files-->
  <script src="js/jquery_min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="venobox/js/venobox.min.js"></script>
  <script src="js/jquery.easypiechart.min.js"></script>
  <script src="js/jquery.inview.min.js"></script>
  <script src="js/jquery.mixitup.min.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/plugin/rs_slider/jquery.themepunch.revolution.min.js"></script>
  <script src="js/plugin/rs_slider/jquery.themepunch.tools.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.addon.snow.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.actions.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.carousel.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.kenburn.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.layeranimation.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.migration.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.navigation.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.parallax.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.slideanims.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.extension.video.min.js"></script>
  <script src="js/plugin/rs_slider/revolution.addon.slicey.min.js"></script>
  <script src="js/custom.js"></script>
  <!--js code-->
</body>

</html>